<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchFoodServlet</servlet-name>
        <servlet-class>servlet.FetchFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchFoodServlet</servlet-name>
        <url-pattern>/FetchFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchDiscountServlet</servlet-name>
        <servlet-class>servlet.FetchDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchDiscountServlet</servlet-name>
        <url-pattern>/FetchDiscountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchOrderServlet</servlet-name>
        <servlet-class>servlet.FetchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchOrderServlet</servlet-name>
        <url-pattern>/FetchOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchShopServlet</servlet-name>
        <servlet-class>servlet.FetchShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchShopServlet</servlet-name>
        <url-pattern>/FetchShopServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchShopListByTypeServlet</servlet-name>
        <servlet-class>servlet.FetchShopListByTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchShopListByTypeServlet</servlet-name>
        <url-pattern>/FetchShopListByTypeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchShopListByStrServlet</servlet-name>
        <servlet-class>servlet.FetchShopListByStrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchShopListByStrServlet</servlet-name>
        <url-pattern>/FetchShopListByStrServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchShopListByDisServlet</servlet-name>
        <servlet-class>servlet.FetchShopListByDisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchShopListByDisServlet</servlet-name>
        <url-pattern>/FetchShopListByDisServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDiscountServlet</servlet-name>
        <servlet-class>servlet.AddDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDiscountServlet</servlet-name>
        <url-pattern>/AddDiscountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>servlet.AddFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/AddFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>servlet.AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <servlet-class>servlet.DeleteDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <url-pattern>/DeleteDiscountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>servlet.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>servlet.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <servlet-class>servlet.UpdateDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <url-pattern>/UpdateDiscountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <servlet-class>servlet.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <url-pattern>/UpdateFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>servlet.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>